// Light Theme
$light-primary: #ffffff;
$light-secondary: #f5f5f5;
$light-text: #333333;
$light-heading: #222222;
$light-paragraph: #555555;
$light-button-bg: #007BFF;
$light-button-text: #ffffff;

// Dark Theme
$dark-primary: #333333;
$dark-secondary: #444444;
$dark-text: #ffffff;
$dark-heading: #dddddd;
$dark-paragraph: #bbbbbb;
$dark-button-bg: #007BFF;
$dark-button-text: #333333;

// Media Queries
$mobile: 576px;
$tablet: 768px;
$desktop: 992px;
$large-desktop: 1200px;
$navbar-breakpoint: 1024px;

